{% extends 'base.html' %}

{% block title %}
Add artwork
{% endblock %}   

{% block content %}

{% if user.is_superuser %}
    <h1>Add artwork</h1>
    <div class="form-control">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <button class="btn btn-primary">Add Artwork</button>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("userIDauthor").value = name;
    </script>

{% else %}

    <div class="d-flex justify-content-center">
        <div class="alert alert-dark" role="alert">
            You are not allowed here! (and you know it ...)
        </div>
    </div>


{% endif %}  


{% endblock %}