{% extends 'base.html' %}

{% block title %}
Artworks
{% endblock %}   

{% block content %}
<h1>Categories</h1>
<ul>
    {% for category in object_list %}
    <!--class="text-decoration-none"-->
    <li><a class="dropdown-item" href="{% url 'category' category.name|slugify %}">{{ category.name }}</a></li>
        
    {% endfor %}
    {% if user.is_superuser %}
        <br><br>
        <a class="btn btn-primary" href="{% url 'add-category' %}">Add a category</a>
    {% endif %}




</ul>
{% endblock %}