{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ artwork.title }}
{% endblock %}   

{% block content %}
<h1>{{ artwork.title }}</h1>
<small><!--By : -->
    
    {% if artwork.author.profile.profile_pic %}
        <img src="{{ artwork.author.profile.profile_pic.url }}"  class="rounded-circle" width=40 height=40></img>
    {% else %}
        <img src="/media/images/profile/default-profile.png"  class="rounded" width=40 height=40></img>
    {% endif %}
    {{ artwork.author.first_name }} {{ artwork.author.last_name }} 


    {% if user.is_superuser %}
        {% if artwork.author.id == user.id %}
            <small>
                (<a href="{% url 'update-artwork' artwork.pk %}">Edit</a>) 
            (<a href="{% url 'delete-artwork' artwork.pk %}">Delete</a>)
            </small>
        {% endif %}
    {% else %}

    {% endif %}    
    <br/>
<i>{{ artwork.artwork_date }}</i>
</small>
<hr>
<br/>
{% if artwork.header_image %}
    <img src="{{ artwork.header_image.url }}" class="img-fluid" ></img>
{% endif %}

{{ artwork.body|safe }}
<br/><br/>

<hr>
<br/>

{{ total_likes }} 
{% if total_likes == 1 %}
    like 
{% else %}
    likes
{% endif %}
<br>

        {% if user.is_authenticated %}
            <form action="{% url 'like-artwork' artwork.pk %}" method="POST">
                {% csrf_token %}

                {% if liked %}
                    <button type="submit", name="artwork_id", value="{{ artwork.id }}", class="btn btn-info">Unlike</button>
                {% else %}
                    <button type="submit", name="artwork_id", value="{{ artwork.id }}", class="btn btn-primary">Like</button>
                {% endif %}
                
                <a href="{% url 'artworks' %}"  class="btn btn-secondary">Back</a>
            </form>
        {% else %} 
            <small>You must login to like</small><br>
            <a href="{% url 'login' %}"  class="btn btn-warning">Login</a>
            <a href="{% url 'artworks' %}"  class="btn btn-secondary">Back</a>
        {% endif %} 
        



<!--
<form action="{% url 'like-artwork' artwork.pk %}" method="POST">
    {% csrf_token %}
    {{ total_likes }} <button type="submit", name="artwork_id", value="{{ artwork.id }}", class="btn btn-primary pull-left">Like</button>
    <a href="{% url 'artworks' %}"  class="btn btn-secondary pull-right">Back</a>
</form>
-->


<!--
<br>
<div>Posted by :</div>
<img src="{{ artwork.author.profile.profile_pic.url }}"  class="rounded-circle" width=100 height=100></img>
-->
<br/>

<div class="card mb-3 border-0">
    <div class="row g-0">
      <div class="col-md-2">
            {% if artwork.author.profile.id %}
            <a href="{% url 'show_profile_page' artwork.author.profile.id %}" class="text-decoration-none text-reset">
                <img src="{{ artwork.author.profile.profile_pic.url }}" width=200 height=200 alt="{{ artwork.author.first_name  }} {{ artwork.author.last_name  }}"  class="rounded">
            </a>
            {% else %} 
                <img src="/media/images/profile/default-profile.png" width=200 height=200 alt="{{ artwork.author.first_name  }} {{ artwork.author.last_name  }}"  class="rounded">

            {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
            {%  if artwork.author.profile.profile_pic %}

            <a href="{% url 'show_profile_page' artwork.author.profile.id %}" class="text-decoration-none text-reset">
                <h5 class="card-title">{{ artwork.author.first_name  }} {{ artwork.author.last_name  }}</h5>
              </a>
            {% else %}

                <h5 class="card-title">{{ artwork.author.first_name  }} {{ artwork.author.last_name  }}</h5>
            {% endif %}
            
          <p class="card-text"><small class="text-muted">
              {% if artwork.author.profile.website_url %}
                <a href="{{ artwork.author.profile.website_url }}">Website</a>
              {% endif %}
              {% if artwork.author.profile.facebook_url %}
                | <a href="{{ artwork.author.facebook.website_url }}">Facebook</a>
              {% endif %}
              {% if artwork.author.profile.instagram_url %}
                | <a href="{{ artwork.author.instagram.website_url }}">Instagram</a>
              {% endif %}
              {% if artwork.author.profile.twitter_url %}
                | <a href="{{ artwork.author.twitter.website_url }}">Twitter</a>
              {% endif %}
          </small></p>

          <p class="card-text">{{ artwork.author.profile.bio }}</p>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
    </div>
  </div>








{% endblock %}