{% extends 'base.html' %}

{% block title %}
Artworks
{% endblock %}   

{% block content %}
<h1>Artworks</h1>
<ul>
    {% for artwork in object_list %}
        <li><a href="{% url 'artwork-detail' artwork.pk %}">{{ artwork.title }}</a> - 
            <a href="{% url 'category' artwork.category %}">{{ artwork.category}}</a> - 
            {{ artwork.author.first_name }} {{ artwork.author.last_name }} - {{ artwork.artwork_date }} - 
            {% if user.is_authenticated %}
                <small>
                    (<a href="{% url 'update-artwork' artwork.pk %}">Edit</a>) 
                (<a href="{% url 'delete-artwork' artwork.pk %}">Delete</a>)
                </small><br/>
            {% else %}

            {% endif %}  
            
            
            {{ artwork.body|slice:":100"|safe }}</li>

    {% endfor %}
</ul>
{% endblock %}