{% extends 'base.html' %}

{% block title %}
{{ artwork.title }}
{% endblock %}   

{% block content %}
<h1>{{ artwork.title }}</h1>
<small>By : {{ artwork.author.first_name }} {{ artwork.author.last_name }} 


    {% if user.is_superuser %}
        {% if artwork.author.id == user.id %}
            <small>
                (<a href="{% url 'update-artwork' artwork.pk %}">Edit</a>) 
            (<a href="{% url 'delete-artwork' artwork.pk %}">Delete</a>)
            </small>
        {% endif %}
    {% else %}

    {% endif %}    
    <br/>
<i>{{ artwork.artwork_date }}</i>
</small>
<hr>
<br/>
{% if artwork.header_image %}
    <img src="{{ artwork.header_image.url }}" class="img-fluid" ></img>
{% endif %}

{{ artwork.body|safe }}
<br/><br/>

<hr>
<br/>

{{ total_likes }} 
{% if total_likes == 1 %}
    like 
{% else %}
    likes
{% endif %}
<br>

        {% if user.is_authenticated %}
            <form action="{% url 'like-artwork' artwork.pk %}" method="POST">
                {% csrf_token %}

                {% if liked %}
                    <button type="submit", name="artwork_id", value="{{ artwork.id }}", class="btn btn-info">Unlike</button>
                {% else %}
                    <button type="submit", name="artwork_id", value="{{ artwork.id }}", class="btn btn-primary">Like</button>
                {% endif %}
                
                <a href="{% url 'artworks' %}"  class="btn btn-secondary">Back</a>
            </form>
        {% else %} 
            <small>You must login to like</small><br>
            <a href="{% url 'login' %}"  class="btn btn-warning">Login</a>
            <a href="{% url 'artworks' %}"  class="btn btn-secondary">Back</a>
        {% endif %} 
        
      </div>
      <div>
        <form>
         </form>


<!--
<form action="{% url 'like-artwork' artwork.pk %}" method="POST">
    {% csrf_token %}
    {{ total_likes }} <button type="submit", name="artwork_id", value="{{ artwork.id }}", class="btn btn-primary pull-left">Like</button>
    <a href="{% url 'artworks' %}"  class="btn btn-secondary pull-right">Back</a>
</form>
-->
<br>
<img src="{{ artwork.author.profile.profile_pic.url }}"></img>










{% endblock %}