{% extends 'base.html' %}

{% block title %}
Category
{% endblock %}   

{% block content %}

{% if category_artworks %}

<h1>{{ cats }} category</h1>
    <ul>
        {% for artwork in category_artworks %}
            <li><a href="{% url 'artwork-detail' artwork.pk %}">{{ artwork.title }}</a> - {{ artwork.category}} - {{ artwork.author.first_name }} {{ artwork.author.last_name }} - {{ artwork.artwork_date }} - 
                {% if user.is_superuser %}
                    <small>
                        (<a href="{% url 'update-artwork' artwork.pk %}">Edit</a>) 
                    (<a href="{% url 'delete-artwork' artwork.pk %}">Delete</a>)
                    </small><br/>
                {% else %}

                {% endif %}  
                
                
                {{ artwork.body|slice:":100"|safe }}</li>

        {% endfor %}
    </ul>

{% else %}

<div class="d-flex justify-content-center">
    <div class="alert alert-dark" role="alert">
        Sorry, this page doesn't exist .
    </div>
</div>

{% endif %}

{% endblock %}