{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}   

{% block style %}

{% endblock %}

{% block content %}
<!--
<script>
    var timer = setTimeout(function() {
        window.location='artworks/'
    }, 3000);
</script>
-->

<div class="d-flex justify-content-center">
    <img src="/media/images/artsite/yachaq_ikarary_transparent.png" class=".img-fluid. max-height: 75% max-width: 65%;" alt="Responsive image">
</div>

<div class="d-flex justify-content-center">
    <font face="Brush Script MT">
    <h1><i>Ceçi n'est pas un artist</i></h1></font>
</div>



<!--
<h2>cat menu</h2>
{{ cat_menu }}
-->






{% endblock %}