{% extends 'base.html' %}

{% block title %}
Paintings
{% endblock %}   

{% block content %}
<h1>Paintings</h1>
<ul>
    {% for painting in object_list %}
        <li><a href="{% url 'painting-detail' painting.pk %}">{{ painting.title }}</a> - 
            <a href="{% url 'category' painting.category %}">{{ painting.category}}</a> - 
            {{ painting.author.first_name }} {{ painting.author.last_name }} - {{ painting.painting_date }} - 
            {% if user.is_authenticated %}
                <small>
                    (<a href="{% url 'update-painting' painting.pk %}">Edit</a>) 
                (<a href="{% url 'delete-painting' painting.pk %}">Delete</a>)
                </small><br/>
            {% else %}

            {% endif %}  
            
            
            {{ painting.body|slice:":100"|safe }}</li>

    {% endfor %}
</ul>
{% endblock %}