{% extends 'base.html' %}

{% block title %}
Edit artwork
{% endblock %}   

{% block content %}

{% if user.is_superuser %}

    {% if artwork.author.id == user.id %}
        <h1>Edit artwork</h1>
        <div class="form-control">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-primary">Edit Artwork</button>
        </div>
    {% endif %}
{% else %}

    <div class="d-flex justify-content-center">
        <div class="alert alert-dark" role="alert">
            You are not allowed here! (and you know it ...)
        </div>
    </div>


{% endif %}  



{% endblock %}