{% extends 'base.html' %}
{% load static %}

{% block title %}
User Profile
{% endblock %}   

{% block content %}
<h1>User Profile</h1>
<br>




<div class="card mb-3 border-0">
    <div class="row g-0">
      <div class="col-md-2">



            {% if page_user.id %}
            <a href="{% url 'show_profile_page' page_user.id %}" class="text-decoration-none text-reset">
                <img src="{{ page_user.profile_pic.url }}" width=200 height=200 alt="{{ page_user.first_name  }} {{ page_user.last_name  }}"  class="rounded">
            </a>
            {% else %} 
                <img src="/media/images/profile/default-profile.png" width=200 height=200 alt="{{ page_user.first_name  }} {{ page_user.last_name  }}"  class="rounded">

            {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
            {%  if page_user.profile_pic %}

            <a href="{% url 'show_profile_page' page_user.id %}" class="text-decoration-none text-reset">
                <h5 class="card-title">{{ page_user.user.first_name  }} {{ page_user.user.last_name  }}</h5>
              </a>
            {% else %}

                <h5 class="card-title">{{ page_user.user.first_name  }} {{ page_user.user.last_name  }}</h5>
            {% endif %}
            
          <p class="card-text"><small class="text-muted">
              {% if page_user.website_url %}
                <a href="{{ page_user.website_url }}">Website</a>
              {% endif %}
              {% if page_user.facebook_url %}
                | <a href="{{ page_user.facebook.website_url }}">Facebook</a>
              {% endif %}
              {% if page_user.instagram_url %}
                | <a href="{{ page_user.instagram.website_url }}">Instagram</a>
              {% endif %}
              {% if page_user.twitter_url %}
                | <a href="{{ page_user.twitter.website_url }}">Twitter</a>
              {% endif %}
          </small></p>

          <p class="card-text">{{ page_user.bio }}</p>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
    </div>
  </div>


  {% if page_user.id == user.profile.id  %}
  <a href="{% url 'edit_profile_page' user.profile.id %}"  class="btn btn-primary">Edit Profile</a>
  {% endif %}



{% endblock %}